.contact {
  height: calc(100vh - 80px);
  display: flex;
  // overflow-y: hidden;

  // &::-webkit-scrollbar {
  //   width: 4px;
  //   height: 4px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #000;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: rgb(56, 54, 54);
  //   border-radius: 25px;
  // }

  &-image {
    height: 100%;
    margin-left: 10vw;
  }

  &-title {
    color: rgb(85, 82, 82);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 200px;
    margin-top: 50px;
  }

  &-content {
    font-weight: 100;
    margin: auto 40px 40px;
  }

  &-content-box {
    margin-bottom: 30px;
  }

  &-paragraph {
    margin-bottom: 10px;
    color: #fff;
    display: block;
  }

  &-share-box {
    display: flex;
    align-items: center;
  }
 
  &-share {
    color: #fff;
    margin-right: 20px;
  }
}


