.home {
  overflow-x: scroll;

  @media(min-width: 960px) {
    height: 70vh;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(56, 54, 54);
    border-radius: 25px;
  }
}